.bg-gradient- {
  &chat {
    background: linear-gradient(180deg, #EDF7FF 20.53%, #1E6BFF 119.85%);

  }

  &expand {
    background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, #F7F7F7 90%);
  }

  &dark {
    background: linear-gradient(180deg, rgba(17, 36, 90, 0.1) 0%, rgba(17, 36, 90, 0.2) 60%, #11245A 80%);
  }
  
  &gray {
    background: linear-gradient(90deg, rgba($black, 0.4) 0%, rgba($black, 0.2) 50%, rgba($black, 0.4) 100%), 
                linear-gradient(180deg, rgba($black, 0) 0%, rgba($black, 0.3) 50%, rgba($black, 0.4) 100%);
  }
}