<header>
    <nav class="navbar navbar-expand-xl navbar-light ">
        <div class="container bg-white rounded custom-padding">
            <a class="navbar-brand navWeb navWeb" href="#">
                <img class="img-fluid" src="../assets/images/index/logo-header.svg" alt="U Flow Odyssey" width="230"
                    height="44">
            </a>
            <a class="navbar-brand navApp" href="#">
                <img class="img-fluid m-8" src="../assets/images/index/logo-header-app.svg" alt="U Flow Odyssey"
                    width="32" height="32">
                <i class="uil uil-search"></i>
            </a>
            <button class="navbar-toggler navbar-expand-xl  d-flex align-items-center justify-content-between"
                type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link m-8 navApp" href="#"><i class="uil uil-shopping-cart-alt "></i></a>
                <i class="uil uil-bars text-brand-600 m-8 navApp"></i>
            </button>
            <div class="collapse navbar-collapse mx-8" id="navbarContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="d-flex align-items-center">
                        <a class="nav-link  fw-bold text-secondary navWeb" href="#">探索</a>
                        <i class="uil uil-angle-down text-brand-600 navWeb"></i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  fw-bold text-secondary navWeb" href="#">大師課</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  fw-bold text-secondary navWeb" href="#">UFO 社群</a>
                    </li>
                </ul>
                <div class="d-flex form-inputs me-6 navWeb">
                    <input class="form-control navWeb" type="text" placeholder="今天想學點什麼">
                    <i class="uil uil-search bg-light navWeb"></i>
                </div>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item d-flex align-items-center ">
                        <a class="btn btn-brand-600 navWeb" href="#">我的學習</a>
                    </li>
                    <li class="nav-item navWeb    ">
                        <a class="nav-link" href="#"><i
                                class="uil uil-shopping-cart-alt border rounded-circle text-brand-600 "></i></a>
                    </li>
                    <li class="nav-item navWeb">
                        <a class="nav-link " href="#"><i
                                class="uil uil-bell text-brand-600 img-fluid border rounded-circle "></i></a>
                    </li>
                    <li class="nav-item navWeb">
                        <a class="nav-link" href="#"><img class="img-fluid rounded-circle"
                                src="../assets/images/index/Persona2.jpg" width="40px" class="rounded-circle" alt="User"
                                width="30"></a>
                    </li>
                </ul>

                <div class="menu-header d-flex justify-content-between align-items-center">
                    <div class="text-brand-950 fw-bold fs-10 navApp"><i
                            class="uil uil-location-arrow text-brand-950 me-5 "></i>探索
                    </div>
                    <p class="text-gray-scale-400 fs-11 navApp">探索課程分類</p>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-12">
                    <p class="text-gray-scale-600 fs-9 navApp">職業領域</p>
                    <i class="uil uil-angle-down text-gray-scale-600 navApp"></i>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-12">
                    <p class="text-gray-scale-600 fs-9 navApp">專業技能</p>
                    <i class="uil uil-angle-down text-gray-scale-600 navApp"></i>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-12">
                    <p class="text-gray-scale-600 fs-9 navApp">能力階段</p>
                    <i class="uil uil-angle-down text-gray-scale-600 navApp"></i>
                </div>

                <hr class="pt-2 navApp">

                <div class="menu-header d-flex justify-content-between align-items-center mt-12 pb-5">
                    <div class="text-brand-950 fw-bold fs-10 navApp"><i
                            class="uil uil-medal text-brand-950 me-5 "></i>大師課
                    </div>
                    <p class="text-gray-scale-400 fs-11 navApp">向頂尖大師學習</p>
                </div>

                <hr class="navApp">

                <div class="menu-header d-flex justify-content-between align-items-center mt-12 mb-20">
                    <div class="text-brand-950 fw-bold fs-10 navApp"><i
                            class="uil uil-users-alt text-brand-950 me-5 "></i>UFO 社群
                    </div>
                    <p class="text-gray-scale-400 fs-11 navApp">與夥伴一起前進</p>
                </div>

                <!-- Login/Sign-up Button -->
                <button type="button" class="btn btn-outline-brand-600 w-100 navApp py-8"><i
                        class="uil uil-user text-brand-600 me-5 "></i>登入 / 註冊</button>
                <button type="button" class="btn btn-brand-600 w-100 mt-2 navApp py-8 mt-7 mb-12"><i
                        class="uil uil-edit-alt text-white me-5"></i>規劃職涯藍圖</button>



            </div>
        </div>
    </nav>

</header>