.nav-pills {
  .nav-link {
    background: $white;
    color: $gray-scale-400;

    &:hover {
      background: $secondary-50;
    }

    &.active {
      font-weight: $font-weight-semibold;
    }

    @include media-breakpoint-up(lg) {
      border-radius: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .nav-item {
      &:not(:first-child) {
        border-top: 1px solid $gray-scale-200;
      }
  
      &:first-child .nav-link {
        border-radius: 32px 32px 0 0;
      }
  
      &:last-child .nav-link {
        border-radius: 0 0 32px 32px;
      }
    }
  }
}